# ======================
# PYTHON DEFAULT
# ======================

__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# ======================
# YOLO / COMPUTER VISION
# ======================

# Ultralytics output
runs/

# model weights (besar)
*.pt
*.onnx
*.engine

# ======================
# DATA & OUTPUT
# ======================

# hasil output
results/
output/
*.mp4
*.avi

# gambar hasil testing (optional)
# *.png
# *.jpg

# dataset besar (optional)
# data/

# ======================
# DEBUG / LOG
# ======================

*.log

# ======================
# IMPORTANT (DO NOT IGNORE)
# ======================

# stereo_params.npz --> JANGAN DIIGNORE
# karena dibutuhkan untuk depth calculation
